Repository JDAI-CV/dabnn: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

ci/dabnn_build_and_test.yml:

trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*
  paths:
    include:
    - '*'
    exclude:
    - README.md
    - docs/*
pr:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'
    exclude:
    - README.md
    - docs/*

jobs:
- job: aarch64
  pool:
      vmImage: 'macOS-10.14'
  steps:
  - checkout: self
    submodules: true
  - bash: brew install watch gnu-sed
    displayName: Install watch and gnu-sed
  - bash: ci/build_dabnn.sh
    displayName: Build
  - bash: ci/start_android_emulator.sh
    displayName: Start Android Emulator
  - template: template_dabnn_run_test.yml
  - bash: ci/build_aar.sh
    env: 
      BINTRAY_KEY: $(bintrayKey)
    displayName: Build and Publish AAR package
- job: armv7a_with_NEON
  pool:
      vmImage: 'macOS-10.14'
  steps:
  - checkout: self
    submodules: true
  - bash: brew install watch gnu-sed
    displayName: Install watch and gnu-sed
  - bash: ci/build_dabnn_v7.sh
    displayName: Build
  - bash: ci/start_android_emulator_v7.sh
    displayName: Start Android Emulator
  - template: template_dabnn_run_test.yml

ci/onnx2bnn_build.yml:

trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*
  paths:
    include:
    - '*'
    exclude:
    - README.md
    - docs/*
    # not trigger onnx2bnn build when only dabnn is edited
    - dabnn/*
pr:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'
    exclude:
    - README.md
    - docs/*
    # not trigger onnx2bnn build when only dabnn is edited
    - dabnn/*

jobs:
- job: LinuxAppImage
  pool:
      vmImage: 'ubuntu-16.04'
  steps:
  - checkout: self
    submodules: true
  - script: sudo apt install -y protobuf-compiler libprotobuf-dev
    displayName: Install protobuf
  - bash: ci/build_onnx2bnn.sh
    displayName: Build
  - bash: ci/build_appimage.sh
    displayName: Build AppImage
  - task: CopyFiles@2
    inputs:
        contents: 'onnx2bnn.AppImage'
        targetFolder: $(Build.ArtifactStagingDirectory)
  - template: template_onnx2bnn_publish_artifacts.yml
  - template: template_onnx2bnn_github_release.yml
- job: Windows
  pool:
      vmImage: 'vs2017-win2016'
  steps:
  - checkout: self
    submodules: true
  - bash: ci/build_onnx2bnn.sh
    displayName: Build
  - template: template_onnx2bnn_publish_artifacts.yml
  - template: template_onnx2bnn_github_release.yml
- job: macOS
  pool:
      vmImage: 'macOS-10.14'
  steps:
  - checkout: self
    submodules: true
  - bash: ci/build_onnx2bnn.sh
    displayName: Build
  - script: 'cp build_onnx2bnn/tools/onnx2bnn/onnx2bnn build_onnx2bnn/tools/onnx2bnn/onnx2bnn-macos'
    displayName: 'Rename onnx2bnn'
  - task: CopyFiles@2
    inputs:
      sourceFolder: 'build_onnx2bnn/tools/onnx2bnn'
      contents: 'onnx2bnn-macos'
      targetFolder: $(Build.ArtifactStagingDirectory)
  - template: template_onnx2bnn_publish_artifacts.yml
  - template: template_onnx2bnn_github_release.yml

fused_binarize_im2col works
  dabnn/bitpack.h
  dabnn/fused_binarize_im2col.h
  dabnn/layers/BinConv.cpp
  dabnn/net.cpp
Due: ci/dabnn_build_and_test.yml

Fix undefined binarized_mat
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Add fused_binarize_im2col.h
  dabnn/fused_binarize_im2col.h
Due: ci/dabnn_build_and_test.yml

length-aware when c%128 != 0
  dabnn/net.cpp
Due: ci/dabnn_build_and_test.yml

Add data size to mat constructor
  dabnn/mat.h
Due: ci/dabnn_build_and_test.yml

format
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Copy the missing onnx2bnn.exe
  ci/onnx2bnn_build.yml
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Try to update
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

stash
  common/common_bitpack.h
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

stash
  common/common_bitpack.h
  dabnn/fused_binarize_im2col.h
  dabnn/layers/BinConv.cpp
  dabnn/mat.h
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update baseline bconv, it works if gemm is compatible only if weight_mat->h * weight_mat->w * weight_mat->c % 2 == 0
  common/baseline.h
  dabnn/bitpack.h
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix the missing () in align_to
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Revert "Try to update"
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Fix some Mat constructor calling
  benchmark/benchmark.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Move flatbuffers to submodule
  .gitmodules
  CMakeLists.txt
  cmake/flatbuffers.cmake
  dabnn/CMakeLists.txt
  flatbuffers/base.h
  flatbuffers/code_generators.h
  flatbuffers/flatbuffers.h
  flatbuffers/flatc.h
  flatbuffers/flexbuffers.h
  flatbuffers/grpc.h
  flatbuffers/hash.h
  flatbuffers/idl.h
  flatbuffers/minireflect.h
  flatbuffers/reflection.h
  flatbuffers/reflection_generated.h
  flatbuffers/registry.h
  flatbuffers/stl_emulation.h
  flatbuffers/util.h
  tools/onnx2bnn/CMakeLists.txt
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Add field "align_hwc_to_128", do not align if C==64
  common/dab.fbs
  common/dab_generated.h
  dabnn/layers/BinConv.cpp
  tools/onnx2bnn/OnnxConverter.cpp
  tools/onnx2bnn/OnnxConverter.h
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Remove commented code
  dabnn/fused_binarize_im2col.h
  dabnn/layers/BinConv.cpp
  dabnn/net.cpp
Due: ci/dabnn_build_and_test.yml

Disable bgemm when weight_mat->c == 1 in armv7
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Update docs for v0.2.0
  docs/onnx2bnn.md
  docs/onnx2bnn_CN.md
Due: none

check c>0 only when data_num != 0
  dabnn/mat.h
Due: ci/dabnn_build_and_test.yml

use bgemm_naive instead of bconv_naive as fallback due to the 128-align weight
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

delay the alignment check into point() -- the only place using hstep
  dabnn/mat.h
Due: ci/dabnn_build_and_test.yml

Add run_net_x86 configuration
  .daq_pm/configs/run_net_x86
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

make eigen public header
  dabnn/CMakeLists.txt
Due: ci/dabnn_build_and_test.yml

use bgemm_naive instead of bconv_naive when non-optimize
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Revert "use bgemm_naive instead of bconv_naive as fallback due to the 128-align weight"
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Revert "Revert "use bgemm_naive instead of bconv_naive as fallback due to the 128-align weight""
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Revert "use bgemm_naive instead of bconv_naive when non-optimize"
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

move net->read after set optimize field
  tests/net_test.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix wrong method in some cases
  dabnn/layers/BinConv.cpp
  dabnn/layers/BinConv.h
Due: ci/dabnn_build_and_test.yml

move some missing net->read after setting optimize field
  tests/net_test.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix some missing cases for binconv method
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

weight->c==1 -> input_mat->elem_c==64
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Fix wrong .so name in Net.java
  ci/android_aar/dabnn/src/main/java/me/daquexian/dabnn/Net.java
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Refuse the case that bin conv is not followed by a bn, fuse conv bias into bn
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix the wrong index
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix wrong bias index
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update README about related works using dabnn
  README.md
  README_CN.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml
