Repository JDAI-CV/dabnn: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

ci/dabnn_build_and_test.yml:

trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*
  paths:
    include:
    - '*'
    exclude:
    - README.md
    - docs/*
pr:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'
    exclude:
    - README.md
    - docs/*

jobs:
- job: aarch64
  pool:
      vmImage: 'macOS-10.14'
  steps:
  - checkout: self
    submodules: true
  - bash: brew install watch gnu-sed
    displayName: Install watch and gnu-sed
  - bash: ci/build_dabnn.sh
    displayName: Build
  - bash: ci/start_android_emulator.sh
    displayName: Start Android Emulator
  - template: template_dabnn_run_test.yml
  - bash: ci/build_aar.sh
    env: 
      BINTRAY_KEY: $(bintrayKey)
    displayName: Build and Publish AAR package
- job: armv7a_with_NEON
  pool:
      vmImage: 'macOS-10.14'
  steps:
  - checkout: self
    submodules: true
  - bash: brew install watch gnu-sed
    displayName: Install watch and gnu-sed
  - bash: ci/build_dabnn_v7.sh
    displayName: Build
  - bash: ci/start_android_emulator_v7.sh
    displayName: Start Android Emulator
  - template: template_dabnn_run_test.yml

ci/onnx2bnn_build.yml:

trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*
  paths:
    include:
    - '*'
    exclude:
    - README.md
    - docs/*
    # not trigger onnx2bnn build when only dabnn is edited
    - dabnn/*
pr:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'
    exclude:
    - README.md
    - docs/*
    # not trigger onnx2bnn build when only dabnn is edited
    - dabnn/*

jobs:
- job: Linux_AppImage
  pool:
      vmImage: 'ubuntu-16.04'
  steps:
  - checkout: self
    submodules: true
  - script: sudo apt install -y protobuf-compiler libprotobuf-dev
    displayName: Install protobuf
  - bash: ci/build_onnx2bnn.sh
    displayName: Build
  - bash: ci/build_appimage.sh
    displayName: Build AppImage
  - task: CopyFiles@2
    inputs:
        contents: 'onnx2bnn.AppImage'
        targetFolder: $(Build.ArtifactStagingDirectory)
  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: $(Build.ArtifactStagingDirectory)
      artifactName: onnx2bnn AppImage
  - template: template_onnx2bnn_github_release.yml
- job: Windows_Python_Package
  pool:
      vmImage: 'vs2017-win2016'
  steps:
  - checkout: self
    submodules: true
  - template: template_onnx2bnn_build_python_all_version.yml
  - task: CopyFiles@2
    inputs:
      sourceFolder: '.setuptools-cmake-build\tools\onnx2bnn\Release\'
      contents: 'onnx2bnn.exe'
      targetFolder: $(Build.ArtifactStagingDirectory)
  - template: template_onnx2bnn_github_release.yml
  - script: python -m twine upload dist/* --verbose
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    displayName: Upload wheel to PyPI
    workingDirectory: tools/onnx2bnn/python/
    env:
      TWINE_USERNAME: $(twineUsername)
      TWINE_PASSWORD: $(twinePassword)

Add daq_pm benchmark_v7 configuration
  .daq_pm/configs/benchmark_v7
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix item id in docs
  docs/onnx2bnn.md
  docs/onnx2bnn_CN.md
  docs/overall.md
  docs/overall_CN.md
Due: none

Add more docs
  dabnn/bconv.h
  dabnn/bitpack.h
  docs/bconv.md
  docs/bconv_CN.md
Due: ci/dabnn_build_and_test.yml

Polish
  common/common_bitpack.h
  dabnn/bitpack.h
  dabnn/net.cpp
  tests/bitpack_test.cpp
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

reformat
  dabnn/bconv.h
  dabnn/bgemm.h
  dabnn/bitpack.h
  dabnn/layers/Affine.cpp
  dabnn/layers/AvePool.cpp
  dabnn/layers/BinConv.cpp
  dabnn/layers/Binarize.cpp
  dabnn/layers/MaxPool.cpp
  dabnn/layers/Pad.cpp
  dabnn/layers/Relu.cpp
  dabnn/net.cpp
Due: ci/dabnn_build_and_test.yml

Remove unused functions
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update build.md
  docs/build.md
Due: none

Update README
  README.md
  README_CN.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Add ONNX models in readme, update the benchmark
  README.md
  README_CN.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update onnx2bnn
  tools/onnx2bnn/onnx2bnn.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update gtest.cmake
  CMakeLists.txt
  cmake/gtest.cmake
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update link path
  docs/overall.md
Due: none

Update the line number in onnx2bnn.md
  docs/onnx2bnn.md
Due: none

Remove invalid tests
  tests/CMakeLists.txt
  tests/bitpack_test.cpp
  tests/gemm_test.cpp
  tests/pad_test.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Replace assert by BNN_ASSERT (solves #42)
  dabnn/bitpack.h
Due: ci/dabnn_build_and_test.yml

Update README for our arxiv eprint
  README.md
  README_CN.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update README furtherly for our arxiv eprint
  README.md
  README_CN.md
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update help message of onnx2bnn, restore the original cli args
  tools/onnx2bnn/onnx2bnn.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Print how many binary convolutions are found and what they are
  tools/onnx2bnn/OnnxConverter.cpp
  tools/onnx2bnn/OnnxConverter.h
  tools/onnx2bnn/onnx2bnn.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Support custom binary conv list
  tools/onnx2bnn/OnnxConverter.cpp
  tools/onnx2bnn/OnnxConverter.h
  tools/onnx2bnn/onnx2bnn.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Remove python wrapper since we have already pre-built binaries
  tools/onnx2bnn/python/onnx2bnn/__init__.py
  tools/onnx2bnn/python/onnx2bnn/__main__.py
  tools/onnx2bnn/python/onnx2bnn/convert.py
  tools/onnx2bnn/python/setup.py
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Remove python-relevant ci code
  ci/onnx2bnn_build.yml
  ci/template_onnx2bnn_build_python.yml
  ci/template_onnx2bnn_build_python_all_version.yml
  ci/template_onnx2bnn_upload_to_pypi.yml
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Download onnx model and convert it to dab instead of download dab in ci
  ci/dabnn_build_and_test.yml
  ci/download_and_convert_models.sh
  ci/download_models.sh
  ci/template_dabnn_run_test.yml
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Remove pybind11 submodule
  .gitmodules
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Windows CI compatibility
  ci/build_onnx2bnn.sh
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Revert "Revert the updated bitpack"
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Do not add binarize layer
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

misc changes
  dabnn/layers/BinConv.cpp
  dabnn/layers/Binarize.cpp
Due: ci/dabnn_build_and_test.yml

Upgrade model version to 2, remove the binarize layer
  common/helper.h
  common/macros.h
  dabnn/bitpack.h
  dabnn/layers/BinConv.cpp
  dabnn/layers/BinConv.h
  dabnn/net.cpp
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Update data_num
  dabnn/mat.h
Due: ci/dabnn_build_and_test.yml

Fix wrong index in converter bitpack
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Separate data size and shape. Add bitpack wrt eff_bits and binarized weight by it
  common/common_bitpack.h
  dabnn/bitpack.h
  dabnn/layers/BinConv.cpp
  dabnn/net.cpp
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix the bug caused by removing binarize layer
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Update the var names in net_test.cpp
  tests/net_test.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Improve assertions, remove unused funcs
  common/common_bitpack.h
  common/helper.h
  dabnn/bitpack.h
  dabnn/net.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml

Fix wrong col_mat size
  dabnn/layers/BinConv.cpp
Due: ci/dabnn_build_and_test.yml

Drop the support of binarize layer
  dabnn/net.cpp
Due: ci/dabnn_build_and_test.yml

Revert the updated bitpack
  tools/onnx2bnn/OnnxConverter.cpp
Due: ci/dabnn_build_and_test.yml, ci/onnx2bnn_build.yml
